.intro {
  text-align: center;
  color: beige;
  box-sizing: border-box;
}

body {
  background-color: salmon;
  border: 5px solid rgb(0, 0, 0);
  margin: 15px;
  padding: 10px;
}

.before {
  text-align: center;
  border: 25px solid rgb(100, 58, 2);
  float: left;
  margin: 35px;
  padding: 20px;
}
.after {
  text-align: center;
  border: 25px solid rgb(100, 58, 2);
  float: right;
  margin: 35px;
  padding: 20px;
}
